npm/
npm-cli.js
mpd-*
mpd_*
cross-compiled*
slug/
windows/
zlinux/
tmp/
oldNR*
git-*
hplip-*
.*
*.deb
*.tar.gz
*.tar
*.gz
*.zip
*.avi
*.AVI
iTunes*
doc/
mac/
Videos/
Pictures/
Python*
Games/
arduino/
node-red/
WebSphere-MQTT*
*munin*
nohup.out
sent
test.lck
npm-debug.log

*html*
*.mp3
*.txt
*.py
*.ipsw

!backup.tar.gz

